@import 'variables';

.formulario-contacto {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

    h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
    }

    form {
        .form-group {
            margin-bottom: 20px;

            label {
                display: block;
                color: #333;
                font-size: 16px;
                margin-bottom: 5px;
            }

            input,
            textarea {
                width: 50%;
                padding: 10px;
                font-size: 16px;
                border: 1px solid #47c0a2;
                border-radius: 5px;
            }

            textarea {
                resize: vertical;
                min-height: 100px;
            }
        }

        .submit-button {
            background-color: #52d1b6;
            color: #ffffff;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #3ca290;
            }
        }
    }
}