@import 'variables';

.terminos-y-condiciones {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 40px;

    h1 {
        color: #333;
        font-size: 30px;
        margin-bottom: 20px;
    }

    h2 {
        color: #555;
        font-size: 24px;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    p {
        color: #777;
        font-size: 16px;
        margin-bottom: 15px;
    }

    ul {
        list-style: disc;
        margin-left: 30px;
        color: #777;
        font-size: 16px;
        margin-bottom: 15px;
    }

    li {
        margin-bottom: 5px;
    }

    a {
        color: #007bff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}