/* Estilos del header */
.header {
    background-color: #2d302f;
    padding: 0 20px;
    height: auto;
    display: flex;
    align-items: center;

    @media (max-width: 600px) {
        flex-direction: column;
    }

    .hamburger {
        display: none;
        background: transparent;
        border: none;
        position: relative;
        width: 30px;
        height: 22px;
        cursor: pointer;

        @media (max-width: 600px) {
            display: block;
        }

        &:before,
        &:after,
        & div {
            background-color: #fff;
            border-radius: 2px;
            content: '';
            display: block;
            height: 3px;
            margin: 6px 0;
            transition: all .2s ease-in-out;
        }

        &:before {
            content: '';
            width: 100%;
        }

        &:after {
            content: '';
            width: 100%;
        }

        & div {
            width: 100%;
        }

        &:hover:before {
            width: 80%;
        }

        &:hover:after {
            width: 60%;
        }
    }


    .logo_img {
        display: block;
        height: 70px;
        max-width: none;
        width: auto;
        padding-right: 40px;
    }

    .menu-principal {
        display: flex;

        @media (max-width: 600px) {

            display: none;
            flex-direction: column;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: row;

            @media (max-width: 600px) {
                flex-direction: column;
            }

            align-items: center;
            height: 100%;

            .menu-item {
                padding: 15px;
                font-family: Gotham-Bold, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                letter-spacing: 0.32px;
                line-height: 16px;
                text-align: left;
                text-transform: uppercase;
                color: #fff;
                cursor: pointer;
                -webkit-font-smoothing: antialiased;
                transition: background-color 0.3s ease;

                a {
                    text-decoration: none;
                    color: inherit;

                    &:hover {
                        text-decoration: none;
                    }
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }

    .menu-principal.show {
        display: flex;

        @media (max-width: 600px) {
            display: block;
        }
    }
}