// Variables
$font-family: 'Gotham-Book', sans-serif; 
$font-family-modern: 'Roboto', sans-serif; 
$font-size: 16px;
$line-height: 19.2px;
$text-color: rgb(23, 29, 72);
$link-color: rgb(0, 0, 0);
$animation-duration: 0.01s;
$primary-color: #333;
$secondary-color: #666;
$accent-color: #52d1b6;
$common-color: #333;